.container {
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: rgb(255, 20, 147);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 0, 100);
}