.list {
    list-style-type: none;
    padding: 0;
}

.item {
    margin: 10px 0;
}

.link {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}